body {
  background-color: ghostwhite;
  font-family: "Permanent Marker", cursive;
}

.nav {
  text-align: center;
  margin: 30px 0;
}

button {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
}

#moviesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  justify-items: center;
}

.movieCard {
  box-shadow: -6px -6px 10px -5px;
  width: 350px;
  text-align: center;
  background-color: white;
}

#description {
  padding: 0 10px;
}

#title {
  font-size: 50px;
  margin: 40px 0 10px;
}
/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
